<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.yourcompany.barcodescan">

  <uses-permission android:name="android.permission.CAMERA" />

  <application>
    <activity android:name="com.apptreesoftware.barcodescan.BarcodeScannerActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
  </application>
</manifest>
